<h3>Completed</h3>
<table class="table table-hover table-bordered">
<thead>
  <tr>
    <th>Request Id</th>
    <th>Customer Id</th>
    <th>Time Elapsed</th>
    <th>Picked up</th>
    <th>Completed</th>
  </tr>
</thead>
<tbody>
    {% for data in data %}
        <tr>
            <td>{{data.request_id}}</td>
            <td>{{data.customer_id}}</td>
            <td>
                <abbr class="timeago" title="{{data.created_at}}">{{data.created_at}}</abbr>
            </td>
            <td>
                <abbr class="timeago" title="{{data.picked_up}}">{{data.picked_up}}</abbr>
            </td>
            <td>
                <abbr class="timeago" title="{{data.completed_at}}">{{data.completed_at}}</abbr>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>