<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taxi - Driver</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.0.9/dist/sweetalert2.all.js"></script>

    <script src="/static/timeago.js"></script>
    <script type="text/javascript">

        var init_tab_data = function() {
            $('a.status-tab-link').click(function(e) {
                var $this = $(this),
                    target_elt = $this.attr('href'),
                    req_status = $this.attr('data-status');

                var url = location.href + '&xhr=1&req_status=' + req_status;
                $.get(url, function(data) {
                    $(target_elt).html(data);
                    jQuery(".timeago").timeago();
                });

                $this.tab('show');
                //return false;
            });
        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var serve_request = function (request_id, driver_id) {
            driver_id = driver_id || getParameterByName('id', location.href);
            var url = '/driver/serve/' + driver_id + '/' + request_id;
            $.get(url, function(res) {
                    swal({
                          title: res.status,
                          text: res.message,
                          type: res.status,
                          confirmButtonColor: '#3085d6',
                          confirmButtonText: 'Refresh'
                        }).then(function(result) {
                          if (result.value) {
                            $('#waiting-link').click();
                          }
                    });
                    console.log(res.status + '! ' + res.message);
            });
            return false;
        }

        jQuery(document).ready(function() {
          jQuery(".timeago").timeago();
          init_tab_data();
          $('#waiting-link').click();
        });
    </script>
    <!--
    Bootstrap 4
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    -->
</head>
<body class="col-md-offset-1 col-md-10 col-md-offset-1">
    <h1>Driver</h1>

    <ul class="nav nav-tabs status-tabs">
      <li><a id="waiting-link" class="status-tab-link" data-toggle="tab" href="#waiting" data-status="WAITING">Waiting</a></li>
      <li><a id="ongoing-link" class="status-tab-link" data-toggle="tab" href="#ongoing" data-status="ONGOING">Ongoing</a></li>
      <li><a id="completed-link" class="status-tab-link" data-toggle="tab" href="#completed" data-status="COMPLETED">Completed</a></li>
    </ul>

    <div class="tab-content">
      <div id="waiting" class="tab-pane fade in active">

      </div>
      <div id="ongoing" class="tab-pane fade">

      </div>
      <div id="completed" class="tab-pane fade">

      </div>
    </div>

</body>
</html>