<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taxi - Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/static/timeago.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
          jQuery(".timeago").timeago();
        });
    </script>
</head>
<body class="col-md-offset-1 col-md-10 col-md-offset-1">
    <h1>Dashboard</h1>
    <a href="/dashboard" class="btn btn-success" style="margin-bottom: 10px">Refresh</a>
    <div>
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Request Id</th>
                <th>Customer Id</th>
                <th>Time Elapsed</th>
                <th>Status</th>
                <th>Driver</th>
              </tr>
            </thead>
            <tbody>
                {% for data in data %}
                    <tr>
                        <td>{{data.request_id}}</td>
                        <td>{{data.customer_id}}</td>
                        <td>
                            <abbr class="timeago" title="{{data.created_at}}">{{data.created_at}}</abbr>
                        </td>
                        <td>{{data.req_status}}</td>
                        <td>{{data.driver_id}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

</body>
</html>